#wrapper 
  display: grid;
  grid-template-columns: auto 600px atuo;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

#header, #footer
    grid-column: 1/4;
    font-family: Amiri;

#navigation
    grid-row: 2/4;

#container
    

#aside
    grid-column: 3;
    grid-row: 2/4;
    