#wrapper 
  display: grid;
  grid-template-columns: 250px 2fr 250px;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

#header, #footer
    border: 5px dashed gainsboro;
    grid-column: 1/4;

#navigation
    border: 5px dashed green;
    grid-row: 2/4;

#container
    border: 5px dashed blue;
    

#aside
    border: 5px dashed orange;
    grid-column: 3;
    grid-row: 2/4;
    