<router-outlet></router-outlet>

<div id="wrapper">
  <!-- The header element should be used as a container for introductory content -->
  <header id="header">
    <h1>ToDo List</h1>
    <p>Keep track of what comes next!</p>
  </header>

  <!-- The <nav> element is intended only for major block of navigation links.-->
  <nav id="navigation"></nav>

  <!--Task list -->
  <section id="container" class="" aria-hidden="false" >
    <app-task-list></app-task-list>
  </section> 

  <!-- The <aside> content should be related to the surrounding content. -->
  <aside id="aside"></aside>

  <!-- A footer typically contains the author of the document, copyright information, links to terms of use, contact information, etc. -->
  <footer id="footer"></footer>
</div>